<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Procesta.serverSideService.ServerSideServices">
        <endpoint address="net.tcp://localhost:9000/ServerSideServices"
                  binding="netTcpBinding"
                  bindingConfiguration=""
                  name="CustomersService_Tcp"
                  contract="Procesta.serverSideService.IServerSideServices" />
      </service>
    </services>
  </system.serviceModel>
</configuration>