<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Cafeteria_Vernier_dbEntities" connectionString="metadata=res://*/Class.EntityFramework.CafeteriaVernierModel.csdl|res://*/Class.EntityFramework.CafeteriaVernierModel.ssdl|res://*/Class.EntityFramework.CafeteriaVernierModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Cafeteria_Vernier_db;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>


    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>


    <services>
      <service name="ClientNotification.ClientNotificationService">
        <endpoint address="net.tcp://192.168.1.1:7081/CVClientNotificationService"
          binding="netTcpBinding" contract="ClientNotification.IClientNotification">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.pipe://localhost/CVClientNotificationService"
          binding="netNamedPipeBinding" contract="ClientNotification.IClientNotification">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ClientNotification/ClientNotificationService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServerNotification.ServerNotificationService">
        <endpoint address="net.pipe://localhost/ServerNotificationService"
          binding="netNamedPipeBinding" contract="ServerNotification.IServerNotification">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://192.168.1.1:7086/ServerNotificationService"
          binding="netTcpBinding" contract="ServerNotification.IServerNotification">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ServerNotification/ServerNotificationService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Procesta.serverSideService.ServerSideServices">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="net.tcp://192.168.1.1:8081/ServerSideServices"
          binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="Procesta.serverSideService.IServerSideServices" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/serverSideService/ServerSideServices.cs/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>

        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>