<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CvAutoBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CvAutoBackup.Properties.Settings>
            <setting name="backupAfter" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="backupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="bdConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=Cafeteria_Vernier_db;Integrated Security=True</value>
            </setting>
            <setting name="backupTime" serializeAs="String">
                <value />
            </setting>
        </CvAutoBackup.Properties.Settings>
    </userSettings>
</configuration>